{% extends 'base.html' %}
{% block content %}
  <div class="container">        
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-striped table-bordered" id="table_id" style="width:100%; margin-left: -100px;">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Team</th>
                      <th scope="col">Coach</th>
                      <th scope="col">Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Opcion</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for payroll in object_list %}
                    <tr>
                      <th scope="row">{{payroll.id}}</th>
                      <td><a href="{% url 'edit_nomina' payroll.pk %}">{{payroll.team}}</a></td>
                      <td>{{payroll.coach}}</td>                    
                      <td>{{payroll.name}}</td>
                      <td>{{payroll.date}}</td>
                      <td>{{payroll.time}}</td>
                      <td>
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Editar
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item" href="{% url 'edit_team' team.pk %}">Editar</a>
                            <a class="dropdown-item" href="{% url 'delete_team' team.pk %}">Eliminar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
            <!-- <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end" style="pull-right;">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
            </nav> -->
        </div>
    </div>
{% endblock %}

{% block footable %} 
<script>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
{% endblock %}